body {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: auto minmax(0, 1fr);
    height: 100dvh;
    overflow: hidden;
}

#nav-principal {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 400px;
}

header {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    align-items: center;
}

#logo-nav {
    width: 298px;
    height: 82px;
    padding-top: 8px;
    margin-left: 20px;
}

#perfil-nav {
    width: 76.25px;
    height: 71.75px;
    margin-right: 20px;
}

.boton-nav {
    white-space: nowrap;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: white;
    font-family: "Google Sans", sans-serif;
}

#seleccion {
    background-color: whitesmoke;
}

#sesion {
    color: white;
    background-color: black;
    font-family: "Montserrat", sans-serif;
}

#filtrado {
    border: 1px solid black;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-family: "Montserrat", sans-serif;
}

.texto-filtrado {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

details {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

summary {
    margin-bottom: 10px;
    font-family: "Lexend Exa", sans-serif;
    font-weight: 700;
    letter-spacing: 20%;
}

label {
    display: inline-flex;
    background-color: whitesmoke;
    margin-right: 10px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
    font-size: 12px;
}

label:has(input:checked) {
    background-color: black;
    margin-right: 10px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    color: white;
}

input[type="checkbox"] {
    appearance: none;
    width: 0;
    margin: 0;
}

input[type="checkbox"]:checked {
    margin-left: 6px;
    width: 12px;
}

input[type="checkbox"]:checked::before {
    color: white;
    content: "X";
}

#busqueda {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 50px;
    border-radius: 30px;
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
}

#contenedor-restablecer {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#contenedor-restablecer > input {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: none;
    background-color: black;
}